APScheduler==3.5.3
attrs==23.1.0
Automat==22.10.0
backports.zoneinfo==0.2.1
blinker==1.6.2
Brotli==1.1.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
chinese-calendar==1.8.1
chinesecalendar==1.8.1
Click==7.0
colorama==0.4.0
constantly==15.1.0
cryptography==41.0.4
cssselect==1.2.0
defusedxml==0.7.1
dill==0.3.7
filelock==3.12.2
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.0
greenlet==2.0.2
hyperlink==21.0.0
idna==2.7
importlib-metadata==6.7.0
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
jmespath==1.0.1
json5==0.9.14
logparser==0.8.2
lxml==4.9.3
MarkupSafe==1.1.1
multiprocessing-on-dill==3.5.0a4
packaging==23.1
parsel==1.8.1
pexpect==4.7.0
phantomjs==1.4.1
Protego==0.3.0
ptyprocess==0.6.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycurl==7.45.2
PyDispatcher==2.0.7
PyMySQL==1.1.0
pyOpenSSL==23.2.0
pyquery==2.0.0
pyspider==0.3.10
pytz==2018.9
PyYAML==6.0.1
queuelib==1.6.2
requests==2.31.0
requests-file==1.5.1
Scrapy==2.9.0
scrapyd==1.4.3
scrapyd-client==1.2.3
scrapydweb==1.4.1
service-identity==21.1.0
six==1.12.0
SQLAlchemy==1.3.24
tblib==2.0.0
tldextract==3.6.0
tornado==4.5.3
Twisted==22.10.0
typing_extensions==4.7.1
tzlocal==1.5.1
u-msgpack-python==2.8.0
uberegg==0.1.1
urllib3==2.0.4
w3lib==1.19.0
Werkzeug==0.14.1
WsgiDAV==4.2.0
zipp==3.15.0
zope.interface==6.0
